VITE_API_BASE=/prod-api
VITE_IMG_BASE=/prod-api/file
VITE_RTC_BASE=/webrtc-api
VITE_EASY_API_BASE=/easy-api
VITE_EASY_AUTH=Basic YWRtaW4xMjM6QWRtaW5AMTIz

VITE_DIFY_APP_ID=ab90ca0c-95b9-4cbb-9f24-97166e6c5032
VITE_DIFY_API_KEY=app-ix0KtVqKKJIJ8Jk5t2bkotVa
VITE_DIFY_API_URL=http://192.168.2.53/v1/chat-messages
VITE_DIFY_USER=inspector-001
VITE_DIFY_TIMEOUT_MS=120000
VITE_DIFY_USE_MOCK=false

VITE_REPORT_AI_API_URL=
VITE_REPORT_AI_API_KEY=
VITE_REPORT_AI_USER=agv-terminal
VITE_REPORT_AI_TIMEOUT_MS=300000
